{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}





<div class="{{ include.type | default: "list" }}__item" >
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <div class="archive__row">

      {% if post.teaser %}
          <div class="archive__column">
          <img src="{{ post.teaser | prepend: "/images/" }}" width="128px">
          </div>
      {% endif %}

      <div class="archive__column">

        <h4 class="archive__item-title" itemprop="headline">
          {% if post.link %}
            <a href="{{ post.link }}" id="{{ post.title }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
          {% else %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
          {% endif %}
        </h4>
        
        <small>
        in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}
        <br/>
        <i>{{ post.author }}</i>

        {% if post.note %}
          <br/>
          <i>{{ post.note }}</i>
        {% endif %}

        </small>
          
        <br/>

      {% if post.pdf %}
        <small>
          <b>
            <a href="{{ post.pdf }}" > [PDF] </a>
          </b>
        </small>
      {% endif %}

      {% if post.slides %}
        <small>
            <b>
        <a href="{{ post.slides }}" > [Slides] </a>
      </b>
        </small>
      {% endif %}

      {% if post.poster %}
        <small>
            <b>
        <a href="{{ post.poster }}" > [Poster] </a>
      </b>
        </small>
      {% endif %}

      {% if post.arxiv %}
        <small>
            <b>
        <a href="{{ post.arxiv }}" > [Arxiv] </a>
      </b>
        </small>
      {% endif %}

      {% if post.hal %}
        <small>
            <b>
        <a href="{{ post.hal }}" > [HAL] </a>
      </b>
        </small>
      {% endif %}
      
      {% if post.code %}
        <small>
            <b>
        <a href="{{ post.code }}" > [Code] </a>
      </b>
        </small>
      {% endif %}
        
      {% if post.bibtex %}
        <small>
          <b>
        <a href="#{{ post.title }}" onclick="toggle_visibility('{{ post.title }}__bibtex');"> [Bibtex] </a>
      </b>
        <div id="{{ post.title }}__bibtex" style="display: none" class="archive__bibtex"> {{ post.bibtex }}</div>
        </small>
      {% endif %}

    </div>
    </div>

  </article>
</div>
