{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <table style="border:0px; width:auto">
        <tr>
          <th style="border:0px">
            {% if post.teaser %}
              <img src=
                {% if post.teaser contains "/files/" %}
                  "{{ post.teaser }}"
                {% else %}
                  "{{ post.teaser | prepend: "/images/publications/" | prepend: base_path }}"
                {% endif %}
                alt="" align="left" style="padding-right: 10px; padding-top: 5px; padding-bottom: 5px; width: 96px; height:96px;">
            {% endif %}
          </th>
          <th style="border:0px; font-weight:normal">
            <b><a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a></b><br/>
    
            {% if post.author %}
              {{ post.author }}<br/>
            {% endif %}

            {% if post.venue %}
              Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}<br/>
            {% endif %}

            {% if post.venue2 %}
              Also in <i>{{ post.venue2 }}</i><br/>
            {% endif %}

            {% if post.venue3 %}
              Also in <i>{{ post.venue3 }}</i><br/>
            {% endif %}

            {% if post.note %}
              <i>{{ post.note }}</i><br/>
            {% endif %}

            {% if post.noteimportant %}
              <span style="color: #ff0000"><i>{{ post.noteimportant }}</i></span><br/>
            {% endif %}
    
            <!--
            {% if post.paperurl %}
              <a href=" {{ post.paperurl }} "> Paper </a>&nbsp;&nbsp;
            {% endif %}

            {% if post.arxivurl %}
              <a href=" {{ post.arxivurl }} "> Arxiv </a>&nbsp;&nbsp;
            {% endif %}

            {% if post.halurl %}
              <a href=" {{ post.halurl }} "> HAL </a>&nbsp;&nbsp;
            {% endif %}

            {% if post.codeurl %}
              <a href=" {{ post.codeurl }} "> Code </a>&nbsp;&nbsp;
            {% endif %}

            {% if post.posturl %}
              <a href=" {{ post.blogurl }} "> Blog </a>&nbsp;&nbsp;
            {% endif %}

            {% if post.mediumurl %}
              <a href=" {{ post.posturl }} "> Medium </a>&nbsp;&nbsp;
            {% endif %}

            {% if post.slidesurl %}
              <a href=" {{ post.slidesurl }} "> Slides </a>&nbsp;&nbsp;
            {% endif %}

            {% if post.pdfurl %}
              <a href=" {{ post.pdfurl }} "> PDF </a>&nbsp;&nbsp;
            {% endif %}

            {% if post.videourl %}
              <a href=" {{ post.videourl }} "> Video </a>&nbsp;&nbsp;
            {% endif %}
            -->

          </th>
        </tr>
      </table>
  </article>
</div>
